*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: none;
}

:root{
    --text-color: #302e29;
    --main-color: #ff0000;
    --second-color: #858585;
    --bg-color: #fffbf6;
    --big-font: 4.5 rem;
    --h2-font: 2.6 rem;
    --p-font: 1.1 rem;
}

/* body{
    background-image: url(images/biryani2.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(10px);
} */
/* Blurred Background Image (it was too distracting) */


.color{
    color: var(--main-color);
}

.heading{
    font-size: 6.2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-align: center;
}

.outer-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles-div{
    max-width: 600px;
}

.titles-div p{
    text-align: center;
}


form{
    display: flex;
    flex-direction: column;
}

form button{
    border: none;
    background-color: var(--main-color);
    border-radius: 5rem;
    transition: all .38s ease;
    color: white;
}
form button:hover{
    letter-spacing: 1px;
}
form a{
    text-decoration: none;
    color: var(--main-color);
    max-width: 400px;
}
img{
    z-index: -1000;
    width: 100%;
    height: auto;
}