<%- include('partials/header.ejs', { title: name }) %>


<div class="about-outer-div">
    <h1>About Us</h1>
    <div class="about-p-div">
    <p>At <span class="color">Eatly Foods</span>, we believe that great food is not just a meal; it's an experience. Our culinary journey began with a passion for creating exceptional dishes that tantalize the taste buds and leave a lasting impression.</p>

    <p>Driven by a commitment to quality, we source the finest ingredients to craft a menu that reflects our dedication to flavor, innovation, and your well-being. Whether you're craving the sizzle of a perfectly cooked steak, the comfort of a classic pasta, or the freshness of a vibrant salad, our diverse offerings cater to every palate.</p>

    <p>Here at <span class="color">Eatly Foods</span>, we embrace the philosophy that "The Healthy Food For Wealthy Mood." We believe that good health is the foundation of true wealth, and every dish on our menu is a testament to that belief. Our goal is to provide you with not just a meal, but a holistic culinary experience that nourishes both body and soul.</p>

    <p>Join us on this gastronomic adventure, where each bite is a celebration of flavor, and every visit is an opportunity to indulge in the richness of good food and good company. Thank you for being a part of the <span class="color">Eatly Foods</span> family.</p>

    <p>Bon Appétit!</p>
    </div>
</div>



<%- include('partials/footer.ejs') %>