











<section class="contact" id="contact">
    <div class="main-contact">
        <div class="contact-content">
            <h4>Services</h4>
            <li><a href="#home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Menu">Menu</a></li>
            <li><a href="#Contact">Contact</a></li>
        </div>

        <div class="contact-content">
            <h4>Partners</h4>
            <li><a href="#home">Food Panda</a></li>
            <li><a href="#About">Foodie</a></li>
            <li><a href="#Menu">Uber Eats</a></li>
            <li><a href="#Contact">Cheetay</a></li>
        </div>

        <div class="contact-content">
            <h4>Contact</h4>
            <li><a href="#home">Contact Us</a></li>
            <li><a href="#About">Email US</a></li>
            <li><a href="#Menu">Careers</a></li>
            <li><a href="#Contact">FAQ</a></li>
        </div>

        <div class="contact-content">
            <h4>Follow Us</h4>
            <li><a href="#home">Facebook</a></li>
            <li><a href="#About">Instagram</a></li>
            <li><a href="#Menu">X</a></li>
            <li><a href="#Contact">Youtube</a></li>
        </div>



    </div>
</section>

<div class="last-text">
    <p>© 2023 Eatly Foods. All Rights Reserved by Eatly Foods</p>
</div>

<!-- Scroll to Top -->
<a href="#" class="scroll-top">
    <i class='bx bx-up-arrow-alt' ></i>
</a>


<script src="index.js"></script>
</body>
</html>